<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xamarin device selector</title>
  <link rel="stylesheet" href="stylesheets/exported_styles.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="javascripts/all.js"></script>
</head>
<body>
  <div class="modal">
    <div class="device-selector__options">
      <%= yield %>
    </div>
  </div>
</body>
</html>